<%- include('../partials/header') %>
<div class="container">
    <h1><%=campground.name%></h1>
    <img src="<%=campground.image%>" class="campground-img rounded mx-auto d-block" alt="">
    <p> <%=campground.description%></p>
    <p style="text-align: right;"><em>Submitted by <b><%=campground.author.username%></b> </em></p>
    <%if(currentUser && campground.author.id.equals(currentUser._id)) {%>
        <div class="row col">
            <a class="btn btn-warning" style="margin-right: 8px;" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
            <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    <%}%>
    <div class="well">
        <div class="text-right">
            <a class="btn btn-success"href="/campgrounds/<%=campground._id%>/comments/new">Add new comment</a>
        </div>
        <hr>
        <% campground.comments.forEach(function(comment){ %>
                <strong><%=comment.author.username%></strong> - <%=comment.text%>
                <br>
                <%if(currentUser && comment.author.id.equals(currentUser._id)) {%>
                    <div class="row col">
                        <a style="margin-right: 5px;" class="btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                        <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                <%}%>   
        <% })%>
    </div>
</div>
<%- include('../partials/footer') %>
